.dialog-container {
    position: relative;

    mat-progress-bar {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
    }
}

form {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}