<div class="animate-container">
  <h1>SIMPLE CRM</h1>
</div>

<mat-card appearance="outlined" class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="input-fields">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="Email"
          type="text"
          (input)="onInput()"
          (focus)="onFocus('email')"/>

        @if(emailControl.hasError('required') && (emailControl.dirty || emailControl.touched)) {
          <mat-error>
            You must enter an email
          </mat-error>
        }
        @if(emailControl.hasError('email') && (emailControl.dirty || emailControl.touched)) {
          <mat-error>
            Not a valid email
          </mat-error>
        }
        @if(emailControl.hasError('emailNotExists') && !emailControl.hasError('required') && !emailControl.hasError('email') && (emailControl.dirty || emailControl.touched)) {
          <mat-error>
            No account found with this email
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          placeholder="Password"
          [type]="hide() ? 'password' : 'text'"
          (input)="onInput()"
          (focus)="onFocus('password')"/>

          <button class="visibility-button"
          mat-icon-button
          matSuffix
          type="button"
          (click)="togglePassword($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()">
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        @if(passwordControl.hasError('required') && (passwordControl.dirty || passwordControl.touched)) {
          <mat-error>
            Password is required
          </mat-error>
        }
        @if(passwordControl.hasError('invalidPassword') && (passwordControl.dirty || passwordControl.touched)) {
          <mat-error>
            wrong password
          </mat-error>
        }
      </mat-form-field>
    </div>
    <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid">Log in</button>
  </form>

  <div class="sing-up-container">
    <h3 class="mb-0">Not a User?</h3>
    <a [routerLink]="['/signup']">Sign up</a>
  </div>
</mat-card>
