<div class="dialog-container">
    @if(loading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
  
    <h2 mat-dialog-title>Add Product</h2>
    <mat-dialog-content>
      <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
        <div class="input-container">
          <mat-form-field class=" mt-32 mb-12 full-width" appearance="outline">
            <mat-label>Product Name</mat-label>
            <input
              [disabled]="loading"
              minlength="3"
              maxlength="25"
              type="text"
              #productName="ngModel"
              name="productName"
              [(ngModel)]="product.name"
              matInput
              placeholder="Product Name"
              required/>
  
            @if(productName.invalid && productName.touched) {
            <mat-error>Product Name is required</mat-error>
            }
          </mat-form-field>
          <mat-form-field class=" full-width" appearance="outline">
            <mat-label>Price in €</mat-label>
            <input
              [disabled]="loading"
              #price="ngModel"
              name="price"
              [(ngModel)]="product.price"
              matInput
              placeholder="Price"
              (blur)="formatPrice()"
              type="text"
              required/>
  
              @if(price.invalid && price.touched) {
                <mat-error>Price is required</mat-error>
                }
          </mat-form-field>
         </div>

            <mat-form-field class=" full-width" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea 
                [disabled]="loading"
                type="text"
                minlength="3"
                maxlength="300"
                #description="ngModel"
                name="description"
                [(ngModel)]="product.description"
                matInput
                placeholder="Description"
                required></textarea>
    
              @if(description.invalid && description.touched) {
              <mat-error>Description is required</mat-error>
              }
            </mat-form-field>  

            <div class="detail-container">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Details</mat-label>
              <div class="detail-input">
              <input 
                [disabled]="loading"
                type="text"
                minlength="3"
                maxlength="50"
                #detail="ngModel"
                name="detail"
                [(ngModel)]="product.detail"
                matInput
                placeholder="Detail"
                required>

                <button [disabled]="loading || detail.invalid" mat-button type="button" (click)="addDetail(product.detail)">Add</button>
              </div>

                @if(detail.invalid) {
                  <mat-error>Details are required</mat-error>
                  }

                  @if(details.includes(product.detail) && product.detail) {
                    <mat-error>This detail already exists</mat-error>
                  }

                  @if(details.length === 0 && productForm.submitted) {
                    <mat-error>You must add at least one detail</mat-error>
                  }
            </mat-form-field>

            <div class="detail-list">
            @for (detail of details; track detail) {
              <ul>
                <li>
                    {{detail}}
                    <mat-icon (click)="deleteDetail(detail)">delete</mat-icon>
                </li>
            </ul>
            }
          </div>
          </div>
        <mat-dialog-actions>
          <button [disabled]="loading" mat-button type="button" (click)="dialogRef.close()">Cancel</button>
          <button
            [disabled]="loading || !productForm.form.valid"
            mat-button
            type="submit">Save</button>
        </mat-dialog-actions>
      </form>
    </mat-dialog-content>
  </div>
  