<div class="dialog-container">
  @if(loading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }

  <h2 mat-dialog-title>Add Product</h2>
  <mat-dialog-content>
    <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
      <div class="input-fields">
        <mat-form-field appearance="outline">
          <mat-label>Product Name</mat-label>
          <input
            [disabled]="loading"
            minlength="3"
            maxlength="30"
            type="text"
            #productName="ngModel"
            name="productName"
            [(ngModel)]="product.name"
            matInput
            placeholder="Product Name"
            required
          />

          @if(productName.invalid && productName.touched) {
          <mat-error>Product Name is required</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Price in €</mat-label>
          <input
            [disabled]="loading"
            #price="ngModel"
            name="price"
            [(ngModel)]="product.price"
            matInput
            placeholder="Price"
            (blur)="formatPrice()"
            type="text"
            required
          />

          @if(price.invalid && price.touched) {
          <mat-error>Price is required</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea
            [disabled]="loading"
            type="text"
            minlength="3"
            maxlength="500"
            #description="ngModel"
            name="description"
            [(ngModel)]="product.description"
            matInput
            placeholder="Description"
            required
          ></textarea>

          @if(description.invalid && description.touched) {
          <mat-error>Description is required</mat-error>
          }
        </mat-form-field>

        <div class="detail-container">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Details</mat-label>
            <div class="detail-input">
              <input
                [disabled]="loading"
                minlength="3"
                maxlength="30"
                #detail="ngModel"
                name="detail"
                [(ngModel)]="currentDetail"
                matInput
                placeholder="Add Detail"
              />

              <button
                [disabled]="loading"
                mat-button
                type="button"
                (click)="addDetail(currentDetail)"
              >
                Add
              </button>
            </div>
          </mat-form-field>

          <div class="detail-list">
            @for (detail of product.detail; track detail) {
            <ul>
              <li>
                {{ detail }}
                <mat-icon (click)="deleteDetail(detail)">delete</mat-icon>
              </li>
            </ul>
            }
          </div>
        </div>
      </div>
      <mat-dialog-actions>
        <button
          [disabled]="loading"
          mat-button
          type="button"
          (click)="dialogRef.close()"
        >
          Cancel
        </button>
        <button
          [disabled]="loading || !productForm.form.valid"
          mat-button
          type="submit"
        >
          Save
        </button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>
