@import './../../styles.scss';

.dialog-container {
    position: relative;

    mat-progress-bar {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
    }

    form {
    @include dFlex($ai: none, $jc: none, $g: 12px);
    flex-direction: column;
    height: auto;
    }
}