@import './../../styles.scss';


.product-detail-header {
    position: relative;
    @include dFlex($ai: flex-start, $jc: flex-end);
    min-height: 350px;
    background-image: url('./../../assets/image/laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 16px;

    .product-detail-container {
        @include dFlex($ai: center, $jc: flex-start);

        .profile-image {
            width: 100px;
            height: auto;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .menu-button-header {
        @include position($t: 10px,$l: none, $r: 10px, $b: none);
    }
}

.product-details {
    margin-left: 32px;
    @include dFlex($ai: flex-start, $jc: center);
    flex-direction: column;

    h2 {
        margin-bottom: 0;
    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }  
}

.product-detail-data {
    position: relative;
    padding: 16px;

    .menu-button {
        @include position($t: 10px,$l: none, $r: 10px, $b: none);
    }
}