<div class="dialog-container">
    @if(loading) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }

    <h2 mat-dialog-title>Edit Description</h2>
    <mat-dialog-content class="pt-20">
      <form #productForm="ngForm" (ngSubmit)="saveProduct(productForm)">
    <mat-form-field class="mr-16 full-width" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea 
      [disabled]="loading"
      type="text"
      minlength="3"
      maxlength="500"
      #description="ngModel"
      name="description"
      [(ngModel)]="product.description"
      matInput
      placeholder="Description"
      required></textarea>

      @if(description.invalid && description.touched) {
        <mat-error>Description is required</mat-error>
        }
    </mat-form-field>

    <mat-form-field class="mr-16 full-width" appearance="outline">
      <mat-label>Details</mat-label>
      <textarea 
      [disabled]="loading"
      type="text"
      minlength="3"
      maxlength="300"
      #detail="ngModel"
      name="detail"
      [(ngModel)]="product.detail"
      matInput
      placeholder="Detail"
      required></textarea>

      @if(detail.invalid && detail.touched) {
        <mat-error>Details are required</mat-error>
        }
    </mat-form-field>

<mat-dialog-actions>
  <button [disabled]="loading" mat-button (click)="dialogRef.close();">Cancel</button>
  <button [disabled]="loading || !productForm.form.valid"
  mat-button
  type="submit">Save</button>
</mat-dialog-actions>
</form>
</mat-dialog-content>
</div>