<ng-container *ngIf="!isLoginPage(); else LoginPage">
  <mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer
      #drawer
      class="sidenav"
      [mode]="isMobileView ? 'over' : 'side'"
      [(opened)]="isDrawerOpen"
      mode="side"
    >
      <div class="logo-contaiener">
        <img src="./../assets/image/logo.png" />
        @if (isMobileView && isDrawerOpen) {
        <mat-icon class="menu-icon" (click)="toggleDrawer()">menu</mat-icon>
        }
      </div>
      <ul class="menu-items">
        <li (click)="closeDrawerIfMobile()" [routerLink]="['/dashboard']">
          <mat-icon>dashboard</mat-icon><b>Dashboard</b>
        </li>
        <li (click)="closeDrawerIfMobile()" [routerLink]="['/user']">
          <mat-icon>person</mat-icon><b>User</b>
        </li>
        <li (click)="closeDrawerIfMobile()" [routerLink]="['/products']">
          <mat-icon>shopping_bag</mat-icon><b>Products</b>
        </li>
      </ul>
      <div class="legals">
        <a (click)="closeDrawerIfMobile()" [routerLink]="['/imprint']"
          >Imprint</a
        >
        <a (click)="closeDrawerIfMobile()" [routerLink]="['/privacy']"
          >Privacy Policy</a
        >
      </div>
    </mat-drawer>

    <div class="example-sidenav-content">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <div class="menu-container">
            @if (!isMobileView || isMobileView && !isDrawerOpen) {
            <mat-icon class="menu-icon" (click)="toggleDrawer()">menu</mat-icon>
            }
            <span>Simple CRM</span>
          </div>
          <mat-icon class="logout-icon" (click)="logOut()" matTooltip="logout"
            >logout</mat-icon
          >
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="router-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
</ng-container>

<ng-template #LoginPage>
  <router-outlet></router-outlet>
</ng-template>
