<div class="dashboard-container">
  <section class="mt-32 mb-32">
    <header>
      <h2>Data 2024</h2>
    </header>
    <div class="datas-container">
      <article>
        <h2>Total Accounts</h2>
        <span>{{ userService.allUsers.length }}</span>
      </article>
      <article>
        <h2>Total target</h2>
        <span>150,700 €</span>
      </article>
      <article>
        <h2>Total value</h2>
        <span>148,210 €</span>
      </article>
      <article>
        <h2>Total deals</h2>
        <span>109</span>
      </article>
    </div>
  </section>

  <div class="charts-container">
  <div class="canvas-container">
    <div>
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [type]="'bar'"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"
      ></canvas>
    </div>
    <button (click)="randomize()">Update</button>
  </div>

  <div class="canvas-container">
    <div>
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [type]="'bar'"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"
      ></canvas>
    </div>
    <button (click)="randomize()">Update</button>
  </div>
</div>
</div>